
<h4>Administrative</h4>
<% @administrative.each do |item| %>

<%= item.item %><br>

<% end %>

<h4>Things to Discuss</h4>
<% @things_to_discuss.each do |item| %>

<%= item.item %><br>

<% end %>

<h4>Upcoming Events</h4>
<% @upcoming_events.each do |item| %>

<%= item.item %><br>

<% end %>

<h4>Improvements</h4>
<% @improvements.each do |item| %>

<%= item.item %><br>

<% end %>