<div class='nested-fields'>
Item: <%= f.text_field :item %><br>
Amount: <%= f.text_field :amount %><br>
Date of Occurrence: <%= f.date_field :date_of_occurrence %><br>
<%= link_to_remove_association "Remove", f, class: "btn btn-danger pull-right btn-small" %>
 
</div>
