<h3><%= @budget.name %></h3>


<% @budget.budget_items.each do |item| %>



<%= item.item %>
<%= number_to_currency(item.amount) %>


<br><% end %>
<br>

<h5> Expected Ending Balance: <%= number_to_currency(@budget.expected_ending_balance) %></h5>