body {font-family: 'Muli';}

.text-white {color: #f0f0f0 !important;}

.content {
background-color: #fff;
padding: 90px 0;
z-index: 300;
position: relative;
}

.full-image .filter li a {
background: #fff;
color: #333;
border: 1px solid #ccc;
}

a {
color: #aaa;
text-decoration: none;
-webkit-transition: color 0.3s ease-in-out;
-moz-transition: color 0.3s ease-in-out;
-o-transition: color 0.3s ease-in-out;
transition: color 0.3s ease-in-out;
}


section.bs_ccc {box-shadow: 1px 1px 1px #ccc;}

.main-navigation.text-white li a {color: #bbb; line-height: 30px;}
.skills .column li {color: #aaa;}
.skills .column h4 {color: #08c;}
.chart-container .label {color: #ddd;}

.percentage, .label {
text-align: center;
text-transform: uppercase;
color: #fff;
font-weight: 100;
font-size: 1.2em;
margin-bottom: .3em;
}


.percentage {border: 1px solid #08c; background: rgba(0,136,204, .35); border-radius: 50%; }


.gf_muli {font-family: 'Muli';}
article p {font-size: 15px; color: #ddd; line-height: 26px; word-spacing: 1px;}
.main-navigation {
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-weight: 700;
display: block;
text-transform: uppercase;
height: 100%;
position: relative;
margin-top: 0; 
margin-bottom: 0; 
margin-left: 0;
z-index: 9999;
}

h2.logo.top-nav a {
color: #222;
line-height: 60px !important;
z-index: 99999;
}

.project-item .project-image {
list-style: none;
overflow: hidden;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: all .4s;
-webkit-transition: all .4s;
-o-transition: all .4s;
-ms-transition: all .4s;
transition: all .4s;
border: 1px solid #888;
}

.text-primary {color: #08c;}

.m-t-0 {margin-top: 0 !important;}
.m-b-0 {margin-bottom: 0 !important;}



section.p-t-0 {padding-top: 0 !important;}
section.p-b-0 {padding-bottom: 0 !important;}
section.p-b-90 {padding-bottom: 90px;}

.content.white {background: #fff;}
.muted {color: #bbb;}
.ws-5 {word-spacing: 5px;}



.full-image.extended #header-global[role="banner"] {
	height: 800px;
	margin-bottom: 0px;
}

.full-image.extended #header-global[role="banner"] {
	color: #fff;
	width: 100%;
	min-height: 600px
	padding-bottom: 0px;
	z-index: 1000;
}

.project-image .overlay {
	background-color: rgba(0, 0, 0, .45);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-backface-visibility: hidden;
}

h2.logo {font-size: 30px; margin: 80px 0 20px 0;}

h2.logo.top-nav {margin: 0; line-height: 50px;}

#homepage-contact {
	background: rgba(0,0,0, .25);
	padding: 90px 0;
}

#footer-global[role="contentinfo"] {
	background-color: #000;
}


.default #homepage-team .team-image .overlay {
	background-color: rgba(0, 0, 0, .75);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-backface-visibility: hidden;
	/*border-radius: 50%;*/
}

#homepage-team, #homepage-profile {
	margin-top: 90px;
}


.default #homepage-team .team-member img {
	/*border-radius: 50%;*/
}

#homepage-team, #homepage-profile {
	background: rgba(255, 255, 255, 1);
	padding: 90px 0;
}

.title-container p {
	color: #bbb;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-transform: none;
	margin-top: 2px;
	margin: 0;
}


ul.raleway > li {font-family: 'Raleway';}

.resume ul li {color: #666; line-height: 26px; font-size: 14px;}
.resume ul {margin-left: 20px;}
.resume ul + h5 {margin: 40px 0 0 0; padding: 0; margin-left: 20px; line-height: 1px;}
.resume h5 + ul {margin-left: 20px;}
.resume ul.alt li:before {color: #ccc;}


.widget .nav-menu h3 {margin: 20px 0 0 0; padding: 0;}
.widget .nav-menu h4 {margin: 20px 0 0 0; padding: 0;}
.widget .nav-menu > ul {margin: 5px 0 0 0;}

.sidebar .widget ul li:before {
	color: #ccc;
}

#homepage-about {
	background: rgba( 0,0,0, .60);
	padding: 90px 0;
	}


#homepage-portfolio {
	background: transparent;
	padding: 90px 0;
}

.bg1 {
	background: url(../img/dividers/wf_head.jpg) top center no-repeat;
	background-position: fixed;
}

.bg2 {
	background: url(../img/dividers/binary-code.jpg) top center no-repeat;
	background-position: fixed;
}

.bg3 {
	background: url(../img/dividers/research_agenda.jpg) top center no-repeat;
	background-position: fixed;
}


.skills h4 {margin: 0; padding: 0;}

.skills ul {margin-top: 10px;}

h2.logo.top-nav a {color: #222;  z-index: 99999;}

.full-image .uber-statement h2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0px;
	color: rgba(255, 255, 255, .8);
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	border-bottom: none;
	width: 100%;
	margin: 0;
	padding: 0;
}





/***************************************
********** BACKGROUND IMAGES *********
*****************************************/



/*advisory*/

body.advisory .header-background-image {
background: url(../img/header/advisory.png) top center no-repeat;
width: 100%;
height: 800px;
margin: 0 auto;
position: absolute;
background-size: cover!important;
-webkit-background-size: cover!important;
}


body.advisory .bg1 {
	background: url(../img/dividers/advisory_1.png) top center no-repeat;
	background-position: fixed;
}

body.advisory .bg2 {
	background: url(../img/dividers/advisory_2.png) top center no-repeat;
	background-position: fixed;
}

body.advisory .bg3 {
	background: url(../img/dividers/advisory_3.png) top center no-repeat;
	background-position: fixed;
}




/*ventures*/

body.ventures .header-background-image {
background: url(../img/header/ventures.png) top center no-repeat;
width: 100%;
height: 800px;
margin: 0 auto;
position: absolute;
background-size: cover!important;
-webkit-background-size: cover!important;
}


body.ventures .bg1 {
	background: url(../img/dividers/ventures_1.png) top center no-repeat;
	background-position: fixed;
}


body.ventures .bg2 {
	background: url(../img/dividers/ventures_2.png) top center no-repeat;
	background-position: fixed;
}


 
/*network*/

body.network .header-background-image {
background: url(../img/header/network.png) top center no-repeat;
width: 100%;
height: 800px;
margin: 0 auto;
position: absolute;
background-size: cover!important;
-webkit-background-size: cover!important;
}


body.network .bg1 {
	background: url(../img/dividers/network_4.png) top center no-repeat;
	background-position: fixed;
}

body.network .bg2 {
	background: url(../img/dividers/network_5.png) top center no-repeat;
	background-position: fixed;
}

body.network .bg3 {
	background: url(../img/dividers/network_6.png) top center no-repeat;
	background-position: fixed;
}



/*khadijah*/

body.khadijah .header-background-image {
background: url(../img/header/khadijah.png) top center no-repeat;
width: 100%;
height: 800px;
margin: 0 auto;
position: absolute;
background-size: cover!important;
-webkit-background-size: cover!important;
}



/*cordis*/

body.cordis .header-background-image {
background: url(../img/header/cordis.png) top center no-repeat;
width: 100%;
height: 800px;
margin: 0 auto;
position: absolute;
background-size: cover!important;
-webkit-background-size: cover!important;
}




.expand {
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
height: 40px;
margin: 0;
background: #08c;
position: absolute;
}


#skill li em {
font-size: 14px;
font-family: 'Crimson Text', serif;
font-style: italic;
font-weight: normal;
color: #08c;
text-transform: lowercase;
position: relative;
top: -35px;
}


#skill li em > span{
color: #ccc;
}


.homepage-quotes cite {color: #aaa !important;}

.post-index article h1,
.default .homepage-section-header h1 {font-size: 100px; border: none; font-family: 'Raleway' !important; font-size: 250px; font-weight: 200; line-height: 140px; text-transform: none; margin: 0; color: #ddd;}
.post-index article h2 {text-transform: capitalize; font-size: 20px; margin-top: 40px; padding-left: 15px;}

blockquote {color: #eee;} 
article.resume ul li {color: #aaa;}
article.resume h5 {color: #eee;}
article.resume h3 {color: #08c;}

article.lessons h4 {color: #aaa;}
article.lessons h3 {color: #08c;}


.gf_sixcaps {font-family: 'Six Caps';}

.default .homepage-section-header h1  {margin: 0; width: 100%;}
.post-excerpt h2, .post-single h2 {
font-size: 30px;
line-height: 1.5;
border-bottom: 1px solid #666;
}

.companies .post-excerpt h1, .companies .post-single h1 {
font-size: 150px;
line-height: 0;
}

.companies article {padding: 100px 0;}

 .form-control.transparent {
      display: block;
      width: 100%;
      height: 50px;
      padding: 6px 12px;
      font-size: 18px;
      line-height: 1.42857143;
      color: #eee;
      background-color: transparent;
      background-image: none;
      border: none;
      border-bottom: 1px solid #aaa;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      }

.transparent {background: transparent !important;}


.form-group .form-stack:last-child .form-control {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.form-group .form-stack .form-control.input-lg {
font-size: 16px;
}

.panel.transparent {
    border-color: #333;
}

.ls-1 {letter-spacing: }


.uber-statement {overflow: hidden;}


#sf {
display: inline-block;
text-align: left;
margin-top: 5px;
}


.sf-menu ul li {
margin: 0;
padding: 0;

padding-left: 15px;
background: #333;
border-bottom: 1px solid #666;
-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
width: auto;
width: 90px;
}

.sf-menu ul li:first-child{
border-radius: 4px 4px 0 0;
}

.sf-menu ul li:last-child{
border-radius: 0 0 4px 4px;
}


a.disabled-link-dark {color: #777;}
a.disabled-link-light {color: #ccc;}

.sidebar .widget ul.disabled li:before {
	float: left;
	font-family: 'FontAwesome';
	content: "\f192";
	color: #777;
	padding-right: 10px;
	font-size: 15px;
}

.sidebar .widget ul.disabled-links-light li:before {
	float: left;
	font-family: 'FontAwesome';
	content: "\f192";
	color: #ddd;
	padding-right: 10px;
	font-size: 15px;
}

.sidebar .widget ul.disabled-links-light li {
	color: #eee;	
}

.team-image {height: 350px; width: 300px; overflow: hidden;}

.team-image img {height: 260px; width: 295px; border: 1px solid #666;}

.team-image p {margin: 0; text-transform: capitalize; color: #888;}

.team-image h2 {
	font-weight: 700;
	margin-bottom: 0; 
	padding-bottom: 0; 
}